.living-background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    /* Base layer */
    pointer-events: auto;
    /* Needs to receive pointer events for mouse reactivity */
    overflow: hidden;
    background-color: #000;
}

.living-background-container canvas {
    display: block;
    width: 100%;
    height: 100%;
}